{% extends 'GalaxyOffset\basic.html' %}

{% block title%}Products{% endblock %}

{% block body%}
<div class="card my-2 mx-0 auto">
    <div class="mx-4 my-2">
        <h1>{{ products.prod_Name }}</h1>
    </div>
    <div class="row">
        <div class="col-3">
            <img class="border border-secondary my-4 mx-4" height="200"
                 src="{{products.prod_img.url}}"
                 width="200"/>
        </div>
        <div class="col-8 my-4">
            <p> {{products.prod_Desc}}</p>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card mx-2 my-2 border border-secondary">
            <div class="mx-2 mt-4">
                {% for category in categories %}
                <a id="{{ category.prod_ID }}" class="dropdown-item" href="{% url 'product' category.prod_ID%}">
                    {{ category.prod_ID }}. {{ category.prod_Name }}</a>
                <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card mx-2 my-2 border border-secondary">
            <div class="row my-2">
                {% if sizeslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Sizes : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in sizeslist %}
                    <input type="radio" name="sizes"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if Colorslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Colors : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in Colorslist %}
                    <input type="radio" name="colorslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if PaperChoiceProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Paper Choices : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in PaperChoiceProductslist %}
                    <input type="radio" name="PaperChoiceProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}


                {% if AqutousCoatingProductlist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Aqutous Coating : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in AqutousCoatingProductlist %}
                    <input type="radio" name="AqutousCoatingProductlist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if FoldingOptionsProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Folding Options : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in FoldingOptionsProductslist %}
                    <input type="radio" name="FoldingOptionsProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if NoOfMonthsProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>No Of Months : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in NoOfMonthsProductslist %}
                    <input type="radio" name="NoOfMonthsProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if BindingMethodProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Binding Method : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in BindingMethodProductslist %}
                    <input type="radio" name="BindingMethodProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if HoleDrillingProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Hole Drilling : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in HoleDrillingProductslist %}
                    <input type="radio" name="HoleDrillingProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if ShrinkWrappingProductslist %}
                <div class="col-4 ml-4 mt-2">
                    <h4>Paper Choices : </h4>
                </div>
                <div class="col-5 mr-4 mt-2">
                    {% for s in ShrinkWrappingProductslist %}
                    <input type="radio" name="ShrinkWrappingProductslist"> {{s}}
                    <br>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}